body {
	text-align: center;
	background-color: rgb(17, 33, 118);
	color: white;
	font-family: 'Amatic SC', cursive;
}
h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 75px;
	font-weight: 700;
}

button,
a {
	background-color: rgb(81, 90, 136);
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 30px;
	margin: 1px 8px;
	font-weight: 700;
	padding: 2px 10px;
	border: none;
	outline: none;
	border-radius: 8px;
	cursor: pointer;
}

/* MODAL CSS */
#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}

#modal-textbox {
	background-color: white;
	color: black;
	height: 300px;
	width: 430px;
	border-radius: 40px;
	margin: 100px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 4%;
	line-height: 120%;
	text-align: left;
	font-size: larger;
}
#modal-footer {
	text-align: right;
}
h2 {
	padding-bottom: 15px;
	text-align: center;
}

/* DOTS  https://www.w3schools.com/howto/howto_css_circles.asp */
.dot {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	display: flex;
	flex-flow: row;
	cursor: pointer;
	padding: 0.8rem;
	margin-bottom: 0.4rem;
}
#gameboard {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 10px;
}
.container {
	height: 210px;
	width: 45px;
	border-bottom: 5px solid white;
	border-right: 5px solid white;
	border-left: 5px solid white;
	border-radius: 10px;
	padding: 0.2em;
	margin: 1em;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	cursor: pointer;
}
